spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#    generate-ddl: false
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
